{% extends 'base.html' %}

{% block title %}Category List{% endblock %}

{% block body %}
    <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold mb-4">Categories</h1>
        <a href="{% url 'core:category-create' %}" class="text-white bg-teal-500 hover:bg-teal-600 py-2 px-4 rounded-lg">Create Category</a>
    </div>
    <table class="w-full table-auto sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
        <thead class="text-white bg-teal-400">
            <tr class="flex flex-col sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                <th class="p-3 text-left">Name</th>
                <th class="p-3 text-left">Number of contacts</th>
                <th class="p-3 text-left">Description</th>
                <th class="p-3 text-left">File</th>
                <th class="p-3 text-left">Actions</th>
            </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none">
            {% for category in object_list %}
            <tr class="flex sm:table-row mb-2 sm:mb-0">
                <td class="border border-gray-200 p-3 truncate">{{ category.name }}</td>
                <td class="border border-gray-200 p-3 truncate">{{ category.contacts.count }}</td>
                <td class="border border-gray-200 p-3 truncate">{{ category.description |truncatechars:100 }}</td>
                <td class="border border-gray-200 p-3 truncate">{{ category.contacts_import_file }}</td>
                <td>
                    <div class="flex gap-5 justify-center items-center">
                        <span>
                            <a href="{% url 'core:category-update' category.pk %}">Edit</a>
                        </span>
                        <span>
                            <a href="{% url 'core:category-delete' category.pk %}">Delete</a>
                        </span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
