{% extends 'base.html' %}

{% block title %}Message List{% endblock %}

{% block body %}
<table class="w-full table-auto sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
    <thead class="text-white bg-teal-400">
        <tr class="flex flex-col sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th class="p-3 text-left">Content</th>
            <th class="p-3 text-left">Date Sent</th>
            <th class="p-3 text-left" width="110px">Category sent to</th>
            <th class="p-3 text-left" width="110px">Delete</th>
        </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
        {% for message in object_list %}
        <tr class="flex sm:table-row mb-2 sm:mb-0">
            <td class="border border-gray-200 p-3 truncate">{{ message.content|truncatechars:50 }}</td>
            <td class="border border-gray-200 p-3 truncate">{{ message.created_at }}</td>
            <td class="border border-gray-200 p-3 truncate">{{ message.category }}</td>
            <td>
                <div class="flex gap-5 justify-center items-center">
                    <span>
                        <a href="{% url 'core:message-delete' message.pk %}">Delete</a>
                    </span>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>
{% endblock %}
